<nav>
  <div class="nav-wrapper">

  <% if current_admin %>
    <%= render partial: "layouts/control_panel" %>
  <% end %>

    <a href="#" class="brand-logo center">Warrior Status</a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="collapsible.html">About</a></li>
    </ul>
  </div>

</nav>

<body>

<div class="container">

</div>
</body>
