  <div class="row">

    <div class="col s8">

      <div class="card blue-grey lighten-10">
        <div class="card-content white-text">

          <span class="card-title">
            +<span class="about-highlights">Warrior Status</span>+
          </span>

          <span class="about-tagline">is a fashion concept, trademark business focused on empowering Native youth,
          cultural sustainability and making Indigenous Global connections<span class="about-highlights">.</span></span>

          <div class="card-action">
            <p><span class="about-highlights">A unique company marketing fashion and art works of Lakota designer Sun Rose Iron Shell</span>.
              As a company we provide a specific
              genre of art that frames a life style based on Indigenous concepts of living
              as a warrior. <span class="about-highlights">Our mission is to uplift Indigenous youth by embracing
              cultural values to enlighten future generations</span>. We represent a new
              generation of intellectuals, leaders and most of all warriors. We challenge
              the warriors of the globe to stand and reclaim their status. We promote
              cultural sustainability and telling the truth about our histories<span class="about-highlights">.</span>
            </p>

            <br>

            <p>Designed exclusively by <span class="about-highlights">Sun Rose Iron Shell</span>,
              a graduate of the highly acclaimed <span class="about-highlights">Institute of American Indian Arts (IAIA)</span>.
              Sun Rose received her Bachelors of Fine Arts and Bachelors in Museum studies in 2012,
              where she also launched as a fashion designer at the <span class="about-highlights">Museum of Contemporary Native Arts.</span>
              Sun Rose is <span class="about-highlights">Sicangu and Oglala</span>, <span class="about-highlights">Lakota</span>, raised in an academic setting surrounded by activism.
              Her work explores Lakota ideologies and the use of supernatural icons throughout Indigenous oral histories.
              Sun Rose’s design style is a direct influence of Northern Plains classical arts,
              such as, Parfleche, quill work (wo’skapi), dress design and hide paintings.
              Her enthusiasm for abstract design radiates from Great Plains style geometric design.
              Sun Rose uses the icon of woman, to reclaim Indigenous feminine identity and image.
              Also to bring awareness to the negative stereotypes that keep the number of missing and murdered Indigenous woman growing and growing. Sun Rose is best known for her hand painted,
              Parfleche inspired earrings and accessories<span class="about-highlights">.</span>
            </p>
          </div>

        </div>
      </div>

    </div>

    <div class="col s4">
      <%= image_tag "sun-rose-about-page.jpg", class: "about-image" %>
    </div>

  </div>
