/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);


.big-main-image {
  width: 100%;
  }

/* Navigation */

nav {
  background-color: #2C172B;
}

nav .brand-logo {
  color: #6CF3E6;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 50px;
  &:hover {
    color: #941F88;
  }
}

nav ul a {
  color: #6CF3E6;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  &:hover {
    color: #941F88;
  }
}

/* About */

.about-image {
  border-radius: 5px;
  margin: 8px 0;
  padding-right: 10px;
  max-width: 100%;
  max-height: 100%;
}

.about-highlights {
  color: #6CF3E6;
}

.about-tagline {
  font-size: 22px;
}

#warrior-status-about {
  display: inline;
}

.card {
  margin-left: 8px;
  border-radius: 5px;
}

.card .card-content {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 19.5px;
}

.card .card-content .card-title {
  text-align: center;
  font-size: 30px;
}

/* Categories */

.store-categories {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  padding-left: 18px;
}

.store-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 28px;
  margin-top: 20px;
  text-align: center;
}
