/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);


.big-main-image {
  width: 100%;
  }

/* Navigation */

nav {
  background-color: #36454F;
}

nav .brand-logo {
  color: #6CF3E6;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 50px;
  &:hover {
    color: #941F88;
  }
}

nav ul a {
  color: #6CF3E6;
  &:hover {
    color: #941F88;
  }
}
