/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

/* Navigation */

nav {
  background-color: rgba(52, 70, 80, 0.9);
  line-height: 100px;
  height: 100px;
}

#push {
  height: 100px;
}

nav .brand-logo {
  color: #6CF3E6;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 80px;
  text-shadow: 0 2px 2px #54124C;
}

nav ul a {
  color: #6CF3E6;
  font-family: 'Economica', sans-serif;
  font-size: 29px;
  text-shadow: 1px 2px #54124C;
  text-transform: uppercase;
  &:hover {
    color: #941F88;
    text-shadow: 0.5px 0.5px black;
  }
}

nav ul li:hover {
  background-color: rgb(52, 70, 80);
}

body > nav > div > a.button-collapse > i {
  color: #6CF3E6;
  font-size: 120px;
  line-height: 120px;
}

#mobile-nav {
  background-color: #B6EFE9;
}

#mobile-nav > li > a {
  font-size: 50px;
}

/* About */

.about-image {
  border-radius: 2px;
  margin-top: 18px;
  max-width: 100%;
}

.about-left-image, .about-right-image {
  max-height: 540px;
  overflow: hidden;
}

.card {
  background-color: rgba(96, 125, 139, 0.83);
  z-index: -1;
}

.card .card-content {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.card .card-content .card-title {
  text-align: center;
  font-size: 18px;
}

.about-highlights {
  color: #6CF3E6;
  font-size: 18px;
}

/* Add Item Page */

#add-item-title {
  font-family: 'Economica', sans-serif;
}

/* Store Page */

.items-container {
  margin-left: 500px;
}

.item-info {
  margin: 0.5em;
  text-align: center;
}

.item-titles {
  font-weight: bold;
}

.item-images {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.category-titles {
  font-family: 'Economica', sans-serif;
}

/* Item Page */

.large-item-image {
  margin-top: 1%;
}
