<ul id="slide-out" class="side-nav">
  <li><a href="#!">Edit Profile</a></li>
  <li> <%= link_to "Logout", logout_path, method: :delete  %> </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large">
  <i class="mdi-navigation-menu"></i></a>
