<nav class="top-nav">
  <div class="nav-wrapper">
    <%= link_to "Warrior Status", root_path, class: "brand-logo center" %>
    <a href="#" data-activates="mobile-nav" class="button-collapse">
      <i class="material-icons">menu</i></a>
      
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Store", store_path %></li>
    </ul>

    <%= render partial: "layouts/sidenav" %>

  </div>
</nav>
